@page
@model DeviceCredentialManagement.Pages.DeviceAccounts.AboutModel
@{
  ViewData["Title"] = "About";
}

<div class="Container">
    <h1>About Device Account Credentials</h1>
    <p>This application helps to generate password for DPU accounts(admimistrator) and cameras (V1 or V2) which will be used by engineers in the site while setting up the DPU/cameras. 
    This will help to keep the credentials confidential and track the information shared.</p>
</div>